<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcx.dao.ExpensesMapper">
    <insert id="addExpenses" parameterType="com.zcx.model.Expenses">
        INSERT  INTO  expenses_record(er_id, category,category_info, money, fromWho) VALUES(#{er_id},#{category},#{category_info},#{money},#{fromWho})
    </insert>

    <select id="findByPage" parameterType="Integer" resultType="com.zcx.model.Expenses">
        SELECT * from expenses_record order by createTime desc limit #{begin},100
    </select>

    <select id="getTotal" resultType="Integer">
        SELECT count(*) FROM expenses_record
    </select>

    <select id="findByCateId" parameterType="String" resultType="com.zcx.model.Expenses">
        SELECT * FROM expenses_record WHERE category=#{id}
    </select>

    <select id="findByCateIdAndFromWho" parameterType="String" resultType="com.zcx.model.Expenses">
        SELECT * FROM expenses_record WHERE category=#{id} AND fromWho=#{fromWho}
    </select>
</mapper>